.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xlsx
*.html
*.xsl
*.dta
*.rds
*.csv
*.zip
*.do
*.rar
*.pdf
*.aux
*.blg
*.log
*.out
*.gz
*.xwm
*.toc
*.eps
temp.R
tesis_prueba_udelar/
TESIS_outdate/
DATOS/
README/
PRUEBA/
_bookdown_files/
estilos_bibliograficos/
